<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">

          <!--Header-->
          <div class="text-center cyan-text">
            <h3>
              <i class="fas fa-lock cyan-text"></i> Login:</h3>
            <hr class="my-4">
          </div>

          <!--Body-->
          <div class="md-form">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="text" id="cyanForm-email" class="form-control">
            <label for="cyanForm-email">Your email</label>
          </div>

          <div class="md-form">
            <i class="fas fa-lock prefix grey-text"></i>
            <input type="password" id="cyanForm-pass" class="form-control">
            <label for="cyanForm-pass">Your password</label>
          </div>

          <div class="text-center">
            <button class="btn btn-info waves-effect waves-light">Login</button>
          </div>

        </div>

        <!--Footer-->
        <div class="modal-footer">
          <div class="options">
            <p>Not a member?
              <a href="#">Sign Up</a>
            </p>
            <p>Forgot
              <a href="#">Password?</a>
            </p>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
